In [12]:
import sys
sys.path.append('..')

from utils import * 
import os
import pandas as pd
from sqlalchemy import inspect 
from sqlalchemy import text, Column, String, Integer
from sqlalchemy.orm import declarative_base

## Set connection

In [13]:
os.environ['username'] = 'ruiyang'
os.environ['password'] = '123456'
engine = postgres_connection('coursework')

## Check whether table **prediction** exist

In [14]:
with engine.connect() as conn:
    res = conn.execute(text("SELECT * FROM prediction;")).all()

In [15]:
len(res)

0

## Check how many tables

In [16]:
inspect = inspect(engine)

inspect.get_table_names()

['prediction']

## create prediction table

In [10]:
database = 'coursework'
engine = postgres_connection(database)

with engine.connect() as conn:
    result = conn.execute(text("SELECT 1;"))
    print(result.all())
    print("connection successful!")


Base = declarative_base()

class Prediction(Base):
    __tablename__ = 'prediction'
    id = Column(Integer, primary_key=True, autoincrement=True)
    text = Column(String)
    label = Column(String)
    jobid = Column(String, index=True) 
    # jobid = Column(String)

Base.metadata.create_all(engine)
print("Creating prediction table successful!")

[(1,)]
connection successful!
Creating prediction table successful!

## Remove prediction table

In [6]:
remove_table('prediction', engine)

prediction has been dropped!

## Test inserting data from pandas

In [5]:
df = pd.read_csv("s3://comp0239-ucabryo/result/20240404175055.csv")
df

,text,label,jobid
0,"""I rented I AM CURIOUS-YELLOW from my video st...",negative,20240404175055
1,"""""""I Am Curious: Yellow"""" is a risible and pre...",negative,20240404175055
2,If only to avoid making this type of film in t...,negative,20240404175055
3,This film was probably inspired by Godard's Ma...,positive,20240404175055
4,"""Oh, brother...after hearing about this ridicu...",negative,20240404175055
...,...,...,...
99995,License To Kill (1989) is an inanely dismal in...,positive,20240404175055
99996,"""I love watching a James Bond. It's not very i...",negative,20240404175055
99997,"""I can't decide what was the worst thing about...",negative,20240404175055
99998,UGH... As an adorer of the James Bond characte...,negative,20240404175055
99999,"""I do firmly believe that the revue on this fi...",positive,20240404175055

In [6]:
df.to_sql('prediction', con = engine.connect(), if_exists='append', index = False)

1000